/Archivo md.txt
/BME_Riesgo financieros(P).pdf
/Notas.txt
/Practica_Gestion_Riesgos.pdf
/Riesgo credito Bono.xlsx
/Taller_Riesgos_HMM_Copulasv2.docx
/Taller_Riesgos_HMM_Copulasv2_main.html
/VaR.xlsx
/_docx_text.txt
/_pdf_text.txt
/__pycache__